<article class="piece">
  <div class="piece__picture">
    <img class="piece__image b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ item.path }}/retail.jpg" alt="">
  </div>
  <div class="piece__details">
    <h2 class="piece__title">
      {{ item.title }}
    </h2>
    <div class="piece__infos">
      <i class="piece__icon material-icons">videogame_asset</i>
      <div class="piece__description">
        <h4 class="piece__furniture">
          {{ item.manufacturer }} {{ item.platform }}
        </h4>
      </div>
    </div>
  </div>
</article>
