<ul class="list">
  {% set hasPros = false %}

  {% for item in review %}
      {% if item.vote > 80 %}
        {% set hasPros = true %}
        <li class="list__item">
          {% if item.vote >= 90 %}
            <i class="material-icons list__icon list__icon--pros">school</i>
          {% else %}
            <i class="material-icons list__icon list__icon--pros">done</i>
          {% endif %}
          <div class="list__text">
            {{ item.name }}
          </div>
        </li>
      {% endif %}
  {% endfor %}

  {% if pros is defined %}
    {% set hasCons = true %}
    {% for item in pros %}
      <li class="list__item">
        <i class="material-icons list__icon list__icon--pros">add</i>
        <div class="list__text">
          {{ item }}
        </div>
      </li>
    {% endfor %}
  {% endif %}

  {% if not hasPros %}
    <li class="list__item">
      <i class="material-icons list__icon list__icon--pros">thumb_down</i>
      <div class="list__text">
        Non ha pregi particolari
      </div>
    </li>
  {% endif %}
</ul>
