@include block ('items') {
  margin: 0 s(2) s(2);

  & + & {
    margin-top: s(2);
  }

  @include media ('>=tablet-large') {
    margin-bottom: s(3);
    margin-left: s(3);
    margin-right: s(3);

    & + & {
      margin-top: s(3);
    }
  }

  @include media ('>=desktop-small') {
    margin-bottom: s(4);
    margin-left: s(4);
    margin-right: s(4);

    & + & {
      margin-top: s(4);
    }
  }

  @include modifier ('desktop') {
    @include media ('<tablet-small') {
      display: none;
    }
  }
}
