@include block ('item') {
  $size: 30px;
  $title-background: rgba($color-cinnabar, 0.7);
  $title-color: $color-black-russian;
  $value-background: rgba($color-cinnabar, 0.2);
  $value-background-mobile: rgba($color-black-russian, 0.4);
  $value-color: $color-cinnabar;

  align-items: stretch;
  display: flex;
  line-height: $size;

  &:first-child {
    @include element ('title') {
      border-top-left-radius: s(0.5);
    }
  }

  &:last-child {
    @include element ('title') {
      border-bottom-left-radius: s(0.5);
    }
  }

  @include element ('title') {
    background-color: $title-background;
    color: $title-color;
    font-size: 12px;
    padding: 0 s(1);
    text-transform: uppercase;
  }

  @include element ('value') {
    background-color: $value-background;
    color: $value-color;
    font-weight: 200;
    padding: 0 s(1);

    @include media ('<tablet-small') {
      background-color: $value-background-mobile;
    }
  }
}
