@include block ('logo') {
  display: inline-block;
  left: s(2);
  line-height: 0;
  opacity: 0;
  position: fixed;
  top: s(2);
  transform: translate(-100%, -100%);
  transition: opacity $ease-intro, transform $ease-intro;
  z-index: 3;

  @include has-parent('body--loaded') {
    opacity: 0.7;
    transform: translate(0, 0);
  }

  @include element ('image') {
    height: auto;
    width: 60px;
  }

  @include media ('>=mobile-large') {
    bottom: s(2);
    left: auto;
    right: s(2);
    top: auto;
  }

  @include media ('>=tablet-small') {
    bottom: auto;
    left: s(3);
    right: auto;
    top: s(3);
  }

  @include media ('>=desktop-small') {
    left: s(4);
    top: s(4);
  }

  path {
    fill: $color-graphics !important;
  }
}
