.phrases {
  bottom: s(4);
  font-size: 18px;

  @include media ('>=tablet-small') {
    font-size: 32px;
  }

  @include media ('>=tablet-large') {
    font-size: 36px;
  }

  position: fixed;
  text-transform: uppercase;
  z-index: 10;

  .text-item {
    $color-static: $color-graphics;
    $color-dynamic: rgba($color-graphics, 0.5);
    $color-static-mobile: $color-graphics;
    $color-dynamic-mobile: rgba($color-graphics, 0.75);

    background-color: $color-background;
    color: $color-dynamic-mobile;
    display: none;
    float: left;
    line-height: 1;
    margin-left: s(-1);
    margin-top: s(-0.5);
    padding: s(0.5) s(1);

    @include media ('>=tablet-small') {
      color: $color-dynamic;
    }

    &--clear,
    &:first-child {
      color: $color-static-mobile;
      margin-left: 0;
      padding-left: s(2);

      @include media ('>=tablet-small') {
        color: $color-static;
      }

      @include media ('>tablet-small') {
        padding-left: s(0.5);
      }
    }

    &--clear {
      clear: left;
    }

    &--visible {
      display: block;
    }

    &__content {
      margin-bottom: 2px;
    }
  }
}
