.phrases {
  bottom: s(4);
  font-size: 18px;

  @include media ('>=tablet-small') {
    font-size: 32px;
  }

  @include media ('>=tablet-large') {
    font-size: 36px;
  }

  position: fixed;
  text-transform: uppercase;
  z-index: 10;

  .text-item {
    $color-static: $color-graphics;
    $color-dynamic: rgba($color-graphics, 0.5);

    background-color: $color-background;
    color: $color-dynamic;
    display: none;
    float: left;
    line-height: 1;
    margin-left: s(-1);
    margin-top: s(-0.5);
    padding: s(0.5) s(1);

    &:first-child {
      color: $color-static;
      margin-left: 0;
    }

    &--visible {
      display: block;
    }

    &--clear {
      clear: left;
      color: $color-static;
      margin-left: 0;
    }

    &__content {
      margin-bottom: 2px;
    }
  }
}
