<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body class="body">
    {% include 'partials/header-mobile.twig' %}
    <aside class="aside aside--opaque">
      <div class="aside__header">
        {% include 'partials/aside__header.twig' %}
        <div class="aside__buttons">
          <a href="{{ relativePath }}" class="button button--back">Indietro</a>
        </div>
      </div>
      {% include 'partials/aside__footer.twig' %}
    </aside>
    <main class="main main--about">
      <img class="main__picture" src="{{ relativeUrl }}/img/vittorio-vittori.jpg" alt="">
    </main>
    {% include 'partials/scripts.twig' %}
  </body>
</html>
