<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body class="body">
    <aside class="aside">
      {% include 'partials/aside__header.twig' %}
      {% include 'partials/aside__footer.twig' %}
    </aside>
    <main class="main">
      <article>
        {{ contents }}
      </article>
    </main>
  </body>
</html>
