<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body class="body">
    <aside class="aside">
      {% include 'partials/aside__header.twig' %}
      {% include 'partials/aside__footer.twig' %}
    </aside>
    <main class="main">
      <section class="crafts">
        {% set items = global.faker.random.number(20) %}
        {% if items < 6 %}
          {% set items = 6 %}
        {% endif %}
        {% for i in 0..(items) %}
          <a class="crafts__item" href="/diy/2017-07-04/pirelli-tires">
            {% include 'partials/piece.twig' %}
          </a>
        {% endfor %}
        <div class="crafts__call">
          Call to action per richiedere un pezzo specifico
        </div>
      </section>
    </main>
  </body>
</html>
