<!doctype html>
<html lang="{{ metadata.lang }}" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  {% include 'partials/head.twig' with {
    title: metadata.title,
    date: m.metadata.lastmod
    }
  %}
  <body class="body">
    <canvas class="cover" id="canvas-webgl" data-image="{{ relativePath }}img/{{ cover }}"></canvas>
    <div class="phrases"></div>
    {% include 'partials/assets.twig' %}
  </body>
</html>
