<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body class="body">
    {% include 'partials/header-mobile.twig' %}
    <aside class="aside">
      {% include 'partials/aside__header.twig' %}
      {% include 'partials/aside__footer.twig' %}
    </aside>
    <main class="main">
      <section class="crafts">
        <div id="policy-message" class="crafts__item crafts__item--policy policy-container">
          {% include 'partials/policy.twig' with { bordered: true } %}
        </div>
        {% for item in metadata.collections.diy %}
          <a class="crafts__item" href="{{ item.path }}">
            {% include 'partials/piece.twig' with { item: item } %}
          </a>
        {% endfor %}
        <div class="crafts__call">
          {% include 'partials/email-message.twig' %}
        </div>
      </section>
    </main>
    {% include 'partials/assets.twig' %}
  </body>
</html>
