<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body class="body">
    {% include 'partials/header-mobile.twig' %}
    <aside class="aside">
      {% include 'partials/aside__header.twig' %}
      {% include 'partials/aside__footer.twig' %}
    </aside>
    <main class="main">
      <section class="crafts">
        {% for i in 0..16 %}
          <a class="crafts__item" href="/diy/2017-07-04/pirelli-tires">
            {% include 'partials/piece.twig' %}
          </a>
        {% endfor %}
        {% include 'partials/crafts__call.twig' %}
      </section>
    </main>
    {% include 'partials/scripts.twig' %}
  </body>
</html>
