
$font-family-sans: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;
$font-family-monospace: menlo, monaco, 'courier new', monospace;

$color-white: rgb(255, 255, 255);
$color-desert-storm: rgb(245, 243, 239);
$color-mercury: rgb(233, 232, 230);
$color-star-dust: rgb(164, 164, 163);
$color-gray: mix(#fff, #5b5a57, 35%);
$color-chicago: rgb(91, 90, 86);
$color-picton-blue: rgb(55, 178, 231);
$color-cinnabar: rgb(231, 71, 55);
$color-ripe-lemon: rgb(242, 213, 19);
$color-christi: rgb(115, 187, 62);
$color-feijoa: rgb(157, 204, 123);
$color-burning-sand: rgb(235, 160, 129);
$color-coral: rgb(247, 117, 63);
