
$font-family-sans: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;
$font-family-monospace: menlo, monaco, 'courier new', monospace;

$color-desert-storm: #faf9f7;
$color-white: #fff;
