%title {
  color: $title-color;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;

  @supports (background-image: -moz-linear-gradient(top right, #b51111, #eeeeee)) {
    letter-spacing: 0;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

%text {
  font-size: 12px;
  font-weight: 200;

  @include media ('<=tablet-large') {
    font-weight: 400;
  }

  &::first-letter {
    text-transform: uppercase;
  }

  a {
    @extend %underline-hidden;
    color: $title-color;
    text-decoration: none;

    &:hover {
      @extend %underline-hidden-visible;
    }
  }
}

%underline-hidden {
  display: inline-block;

  &::after {
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-name: underline-blink;
    background-color: $color-mercury;
    border-radius: 2px;
    content: '';
    display: block;
    height: 2px;
    opacity: 0;
    transition: opacity 0.5s ease('out-expo');
  }
}

%underline-hidden-visible {
  &::after {
    opacity: 1;
  }
}

$link-underline: mix($color-chicago, $color-desert-storm, 25%);

%underline {
  display: inline-block;
  text-shadow: 1px 1px 0 $color-desert-storm, 0 1px 0 $color-desert-storm, -1px 1px 0 $color-desert-storm;

  &::after {
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-name: none;
    background-color: $link-underline;
    border-radius: 2px;
    content: '';
    display: block;
    height: 2px;
    margin-top: -3px;
    transition: background-color 0.5s ease('out-expo');
  }
}

%underline-visible {
  &::after {
    animation-name: underline-blink;
  }
}

@keyframes underline-blink {

  0% {
    background-color: $link-underline;
  }

  50% {
    background-color: $color-chicago;
  }

  100% {
    background-color: $link-underline;
  }
}
