%title {
  color: $title-color;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;

  @supports (background-image: -moz-linear-gradient(top right, #b51111, #eeeeee)) {
    letter-spacing: 0;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

%text {
  font-size: 12px;
  font-weight: 200;

  &::first-letter {
    text-transform: uppercase;
  }
}

%underline-hidden {
  display: inline-block;

  &::after {
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-name: underline-blink;
    background-color: $color-mercury;
    border-radius: 2px;
    content: '';
    display: block;
    height: 2px;
    opacity: 0;
    transition: opacity 0.5s ease('out-expo');
  }
}

%underline-hidden-visible {
  &::after {
    opacity: 1;
  }
}

@keyframes underline-blink {
  0% {
    background-color: $color-mercury;
  }

  50% {
    background-color: mix($color-mercury, $text-color, 75%);
  }

  100% {
    background-color: $color-mercury;
  }
}
