<footer class="footer">
  <a href="#" class="footer__link footer__link--next">
    <img class="footer__logo" src="{{ relativePath }}img/vittorio-vittori-logo.svg" alt="Vittorio Vittori">
  </a>
</footer>
