<div id="message" class="write-me {% if isAbout %} write-me--about {% endif %}"
  data-emailjs-user-id="{{ metadata.service.email_js.user_id }}"
  data-emailjs-service-id="{{ metadata.service.email_js.service_id }}"
  data-emailjs-template-id="request">
  <h4 class="write-me__title">
    Chiedimi qualcosa
  </h4>
  <div class="write-me__row">
    <div class="write-me__row-column">
      <label class="input">
        <input id="input-name" class="input__element input__element--call" type="text" name="from" placeholder="Nome Cognome">
        <i class="input__icon material-icons">face</i>
        <p class="input__error">
          Inserisci Nome e Cognome così che possa risponderti
        </p>
      </label>
    </div>
    <div class="write-me__row-column">
      <label class="input">
        <input id="input-email" class="input__element input__element--call" type="email" name="reply_to" placeholder="tua@email.com">
        <i class="input__icon material-icons">mail</i>
        <p class="input__error">
          Verifica che la e-mail sia valida
        </p>
      </label>
    </div>
  </div>
  <label class="input input--textarea">
    <textarea id="input-notes" class="input__element input__element--call" name="description" placeholder="Note (facoltative)"></textarea>
    <i class="input__icon material-icons">content_paste</i>
  </label>
  <footer class="write-me__footer">
    <a class="button button--back button--fill write-me__button" href="{{ metadata.social.messenger }}">
      <div class="button__infos">
        Scrivimi via chat
      </div>
      <i class="button__icon material-icons">chat</i>
    </a>
    <div id="send-message" class="button button--send button--fill write-me__button">
      <div class="button__infos">
        Invia messaggio
      </div>
      <i class="button__icon material-icons">email</i>
    </div>
  </footer>
</div>




<div class="modal">
  <div class="modal__body modal__body--status modal__body--hidden">
    <div class="send-status">
      <i class="send-status__icon send-status__icon--info material-icons">send</i>
      <div class="send-status__title">
        Messaggio inviato
      </div>
    </div>
    <p class="modal__text">
      Riceverai una copia del messaggio che hai inviato con i dettagli.<br>
      Controllerò la posta dopo le 18:00 e cercherò di risponderti al più presto.
    </p>
  </div>

  <div class="modal__body modal__body--status modal__body--hidden">
    <div class="send-status">
      <i class="send-status__icon send-status__icon--error material-icons">report_problem</i>
      <div class="send-status__title">
        Errore di invio
      </div>
    </div>
    <p class="modal__text">
      Si è verificato un errore di invio del messaggio.<br>
      Il sistema ha registrato il problema, spero di risolverlo a breve o che si tratti di un semplice disservizio.
    </p>
    <div class="modal__footer">
      <a href="#" class="button button--fill button--back modal__button modal__button--close">Chiudi</a>
    </div>
  </div>
</div>
