<header class="header-mobile">
  <div class="header-mobile__nav">
    {% if path != '' %}
      <a href="javascript:history.back()" class="button button--home button--inline">
        <i class="button__icon material-icons">keyboard_backspace</i>
      </a>
    {% endif %}
  </div>
  <a href="{{ relativePath }}" class="header-mobile__home">
    <img class="header-mobile__logo" src="{{ relativePath }}img/vittorio-vittori-logo.svg" alt="Vittorio Vittori">
  </a>
  <div class="header-mobile__nav">
    {% if path != 'about' %}
      <a href="{{ relativePath }}about" class="button button--back button--inline">About</a>
    {% endif %}
  </div>
</header>
