<article class="piece">
  <div class="piece__picture">
    <img class="piece__image b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ item.path }}/preview.jpg" alt="">
  </div>
  <div class="piece__details">
    <h2 class="piece__title">
      {{ item.title }}
    </h2>
    <div class="piece__infos">
      {% set isAvailable = item.sold_out == false %}
      {% if isAvailable %}
        <i class="piece__icon material-icons">shopping_cart</i>
      {% else %}
        <i class="piece__icon piece__icon--sold-out material-icons">remove_shopping_cart</i>
      {% endif %}
      <div class="piece__description">
        <h4 class="piece__furniture">
          {{ item.furniture }}
        </h4>
        {% if isAvailable %}
          <span class="piece__availability">Disponibile</span>
        {% else %}
          <span class="piece__availability piece__availability--sold-out">Esaurito</span>
        {% endif %}
      </div>
    </div>
  </div>
</article>
