@include block ('about-infos') {

  $background-color: 0;

  backdrop-filter: $backdrop-blur;
  background-color: $backdrop-background;
  bottom: 0;
  display: none;
  flex-wrap: wrap;
  padding: s(0.5);
  position: absolute;
  width: 100%;

  @supports not (backdrop-filter: $backdrop-blur) {
    background-color: $backdrop-background-no-support;
  }

  @include media ('<tablet-large') {
    display: flex;
  }

  @include element ('column') {
    padding: s(0.5);
    width: 50%;

    @include media ('<=mobile-small') {
      width: 100%;
    }

    @include modifier ('fill') {
      align-items: center;
      display: flex;
      width: 100%;
    }
  }

  @include element ('icon') {
    margin-right: s(0.5);
  }

  @include element ('title') {
    @extend %title;
  }

  @include element ('text') {
    @extend %text;

    &::first-letter {
      text-transform: none;
    }

    & + & {
      margin-top: s(0.5);
    }
  }
}
