@include block ('actions') {
  background-color: $actions--background;
  border-radius: radius('large');
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  width: 100%;

  @include modifier ('available') {
    background-color: $actions--available--background;
  }

  @include modifier ('footer') {
    border-radius: 0;
    flex-wrap: nowrap;
    padding: s(0.5);
  }

  @include element ('item') {

    flex-grow: 2;

    @include modifier ('fill') {
      flex-grow: 3;
    }

    @include modifier ('short') {
      flex-grow: 1;
    }
  }
}
