@include block ('article') {

  @include element ('header') {
    line-height: 0;
    margin-left: s(-3);
    margin-right: s(-3);

    @include media ('<tablet-large') {
      margin-left: s(-1.5);
      margin-right: s(-1.5);
      padding-top: s(4.5);
    }

    @include media ('<=tablet-small') {
      margin: 0;
      padding-top: s(2.75);
    }
  }

  @include element ('image') {
    height: auto;
    width: 100%;
  }

  @include element ('title') {
    color: $title-color;
    font-size: 36px;
    font-weight: 700;
    margin: s(3) 0 s(1);

    @include media ('<=mobile-large') {
      font-size: 32px;
      margin: s(1.5) 0 s(.75);
    }
  }

  @include element ('infos') {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include media ('<=mobile-large') {
      font-size: 14px;
    }
  }

  @include element ('info') {
    align-items: center;
    display: flex;
    margin-right: s(1);

    @include modifier ('console') {
      @include media ('<tablet-small') {
        margin-bottom: s(0.5);
        width: 100%;
      }
    }
  }

  @include element ('icon') {
    color: $title-color;
    margin-right: s(0.25);
  }

  @include element ('actions') {
    margin-bottom: s(1);
    margin-top: s(1);

    @include modifier ('upper') {
      @include media ('<=mobile-large') {
        display: none;
      }
    }
  }

  @include element ('contents') {
    margin: auto;
    max-width: $article--body--width;

    @include media ('<=tablet-small') {
      padding-bottom: s(1.5);
      padding-left: s(1.5);
      padding-right: s(1.5);
    }

    @include media ('<=mobile-large') {
      padding-left: s(1);
      padding-right: s(1);
    }
  }
}
