@include block ('aside') {

  background-color: $aside--background;
  box-shadow: $aside--shadow;
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: s(3);
  position: fixed;
  white-space: nowrap;
  width: $aside--width;

  @supports not (backdrop-filter: $aside--background--blur) {
    background-color: $aside--background--opaque-strenght;
  }

  @include modifier ('opaque') {
    backdrop-filter: $aside--background--blur;
    background-color: $aside--background--opaque;
  }

  @include media ('<=desktop-small') {
    width: $aside--min-width;
  }

  @include media ('<tablet-large') {
    display: none;
  }

  @include element ('buttons') {
    margin-top: s(2);
  }

  @include element ('info') {
    padding-top: s(1);
    white-space: normal;

    @include modifier ('bottom') {
      padding-bottom: s(1);
    }
  }

  @include element ('title') {
    @extend %title;
  }

  @include element ('text') {
    @extend %text;

    &::first-letter {
      text-transform: none;
    }

    & + & {
      margin-top: s(0.5);
    }

    a {
      @extend %underline-hidden;
      color: $title-color;
      text-decoration: none;

      &:hover {
        @extend %underline-hidden-visible;
      }
    }
  }

  @include element ('icon') {
    color: $title-color;
  }
}
