@include block ('aside') {

  background-color: background('foreground');
  box-shadow: shadow('card');
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  overflow: auto;
  padding: s(3);
  position: fixed;
  white-space: nowrap;
  width: $aside-width;

  @supports not (backdrop-filter: $backdrop-blur) {
    background-color: $backdrop-background-no-support;
  }

  @include modifier ('opaque') {
    backdrop-filter: $backdrop-blur;
    background-color: $backdrop-background;
  }

  @include media ('<=desktop-small') {
    width: $aside-width-min;
  }

  @include media ('<tablet-large') {
    display: none;
  }

  @include element ('buttons') {
    display: flex;
    margin-top: s(2);
  }

  @include element ('info') {
    padding-top: s(1);
    white-space: normal;

    @include modifier ('bottom') {
      padding-bottom: s(1);
    }
  }

  @include element ('title') {
    @extend %title;
  }

  @include element ('text') {
    @extend %text;

    &::first-letter {
      text-transform: none;
    }

    & + & {
      margin-top: s(0.5);
    }
  }

  @include element ('icon') {
    color: $title-color;
  }
}
