@include block ('budget-info') {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include element ('column') {
    margin-top: s(0.5);

    &:last-child {
      text-align: right;
    }

    @include media ('<mobile-large') {
      width: 100%;
    }
  }

  @include element ('title') {
    font-weight: 600;
  }

  @include element ('value') {
    border-radius: 4px;

    @include modifier ('custom') {
      background-color: $budget-info--text--background;
      padding: s(0.25) s(0.5);
    }
  }
}
