@include block ('budget') {
  margin-top: s(1);
  width: 100%;

  @include element ('column') {
    float: left;
    width: 33.3333%;

    @supports (filter: blur(2px)) {
      filter: blur(2px);
      opacity: 0.35;
      transform: scale(0.75);
      transition: opacity tween('activate'), filter tween('activate'), transform tween('activate');

      @include modifier ('active') {
        filter: blur(0);
        opacity: 1;
        transform: scale(1);
      }
    }

    @supports not (filter: blur(2px)) {
      opacity: 0.25;
      transform: scale(0.75);
      transition: opacity tween('activate'), transform tween('activate');

      @include modifier ('active') {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  @include element ('image') {
    height: auto;
    width: 100%;
  }
}
