@include block ('button') {

  $button--available--background--hover: $color-chicago;
  $button--available--background: $color-chicago;
  $button--available--color--hover: $color-white;
  $button--available--color: $color-mercury;
  $button--back--background--hover: mix($color-desert-storm, $color-chicago, 90%);
  $button--back--background: $color-desert-storm;
  $button--back--color--hover: $color-chicago;
  $button--back--color: $text-color;
  $button--comment--color: $color-star-dust;
  $button--price--color: $color-star-dust;
  $button--radius: 4px;
  $button--sold-out--background--hover: $color-white;
  $button--sold-out--background: $color-mercury;
  $button--sold-out--color--hover: $color-chicago;
  $button--sold-out--color: $color-chicago;
  $button--try-budget--background--hover: $color-chicago;
  $button--try-budget--background: $color-chicago;
  $button--try-budget--color--hover: $color-white;
  $button--try-budget--color: $color-mercury;
  $button--try-budget-available--background--hover: transparent;
  $button--try-budget-available--background: transparent;
  $button--try-budget-available--color--hover: $color-chicago;
  $button--try-budget-available--color: $text-color;

  @extend %text;

  align-items: center;
  background-color: $button--available--background;
  border: 0;
  border-radius: $button--radius;
  color: $button--available--color;
  cursor: pointer;
  display: flex;
  height: s(2);
  justify-content: center;
  padding: 0 s(0.5);
  text-decoration: none;
  transition: background-color $hover-ease, color $hover-ease, opacity $hover-ease;
  user-select: none;

  &:hover {
    background-color: $button--available--background--hover;
    color: $button--available--color--hover;
  }

  @include media ('<=tablet-large') {
    font-size: 11px;
  }

  @include modifier ('hidden') {
    display: none;
  }

  @include modifier ('inline') {
    display: inline-flex;
    padding-left: s(1);
    padding-right: s(1);
  }

  @include modifier ('disabled') {
    opacity: 0.2;
    pointer-events: none;
  }

  @include modifier ('fill') {
    width: 100%;
  }

  @include modifier ('back') {
    background-color: $button--back--background;
    color: $button--back--color;
    flex-basis: 0;
    flex-grow: 1;

    &:hover {
      background-color: $button--back--background--hover;
      color: $button--back--color--hover;
    }

    & + & {
      margin-left: s(0.5);
    }
  }

  @include modifier ('paginate') {
    flex-basis: 0;
    flex-grow: 1;

    & + & {
      margin-left: s(0.5);
    }
  }

  @include modifier ('send') {
    background-color: $button--available--background;
    color: $button--available--color;

    &:hover {
      background-color: $button--available--background--hover;
      color: $button--available--color--hover;
    }
  }

  @include modifier ('speech') {
    background-color: $button--available--background;
    color: $button--available--color;
    height: 30px;

    &:hover {
      background-color: $button--available--background--hover;
      color: $button--available--color--hover;
    }

    @include element ('icon') {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  @include modifier ('is-reading') {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: pulse-reverse;

    @include element ('icon') {
      display: none;

      &:nth-child(2) {
        display: inline-block;
        margin-right: s(0.5);
      }
    }
  }

  @include modifier ('sold-out') {
    background-color: $button--sold-out--background;
    color: $button--sold-out--color;
    height: auto;
    justify-content: flex-start;
    padding: s(0.375) s(0.5);

    &:hover {
      background-color: $button--sold-out--background--hover;
      color: $button--sold-out--color--hover;
    }
  }

  @include modifier ('try-budget') {
    background-color: $button--try-budget--background;
    color: $button--try-budget--color;
    height: auto;
    justify-content: flex-start;
    padding: s(0.375) s(0.5);
    white-space: normal;

    &:hover {
      background-color: $button--try-budget--background--hover;
      color: $button--try-budget--color--hover;

      @include element ('comment') {
        color: $button--try-budget--color--hover;
      }
    }
  }

  @include modifier ('chat') {
    background-color: $button--try-budget--background;
    color: $button--try-budget--color;
    flex-grow: 0;
    height: auto;
    justify-content: flex-start;
    padding: s(0.375) s(0.5);
    white-space: normal;

    &:hover {
      background-color: $button--try-budget--background--hover;
      color: $button--try-budget--color--hover;

      @include element ('comment') {
        color: $button--try-budget--color--hover;
      }
    }

    @include media ('<=mobile-small') {
      flex-grow: 2;
    }
  }

  @include modifier ('home') {
    background-color: $button--available--background;
    color: $button--available--color;
    height: auto;
    justify-content: flex-start;
    padding: s(0.375);

    &:active {
      background-color: $button--available--background--hover;
      color: $button--available--color--hover;
    }
  }

  @include modifier ('close') {
    background-color: $button--available--background;
    color: $button--available--color;
    height: auto;
    justify-content: flex-start;
    padding: s(0.375);

    &:active {
      background-color: $button--available--background--hover;
      color: $button--available--color--hover;
    }
  }

  @include modifier ('available') {
    background-color: $button--available--background;
    color: $button--available--color;
    height: auto;
    justify-content: flex-start;
    padding: s(0.375) s(0.5);

    &:hover {
      background-color: $button--available--background--hover;
      color: $button--available--color--hover;

      @include element ('title') {
        color: inherit;
      }

      @include element ('comment') {
        color: inherit;
      }

      @include element ('price') {
        color: inherit;
      }
    }
  }

  @include modifier ('try-budget-available') {
    background-color: $button--try-budget-available--background;
    color: $button--try-budget-available--color;
    height: auto;
    justify-content: flex-start;
    padding: s(0.375) s(0.5);
    white-space: normal;

    &:hover {
      background-color: $button--try-budget-available--background--hover;
      color: $button--try-budget-available--color--hover;

      @include element ('comment') {
        color: $button--try-budget-available--color--hover;
      }
    }
  }

  @include modifier ('chat-available') {
    background-color: $button--try-budget-available--background;
    color: $button--try-budget-available--color;
    height: auto;
    justify-content: flex-start;
    padding: s(0.375) s(0.5);
    white-space: normal;

    &:hover {
      background-color: $button--try-budget-available--background--hover;
      color: $button--try-budget-available--color--hover;

      @include element ('comment') {
        color: $button--try-budget-available--color--hover;
      }
    }
  }

  @include element ('icon') {
    &:first-child {
      margin-right: s(0.5);
    }

    &:last-child {
      margin-left: s(0.5);
    }

    &:first-child:last-child {
      margin: 0;
    }
  }

  @include element ('title') {
    font-size: inherit;
    font-weight: 500;
  }

  @include element ('text') {
    color: inherit;
    font-size: inherit;
  }

  @include element ('price') {
    color: $button--price--color;
    transition: color $hover-ease;
  }

  @include element ('comment') {
    color: $button--comment--color;
    transition: color $hover-ease;
  }

}
