@include block ('cookie-policy') {

  $cookie-policy--border: $border;
  $contents-width: $article-width;

  margin: auto;
  max-width: $contents-width;
  padding: s(1) s(1) s(2);
  text-align: center;

  @include media ('<tablet-large') {
    border-top: $cookie-policy--border;
    padding: s(1);
  }

  @include element ('text') {
    @extend %text;
    display: block;
  }
}
