@include block ('crafts-call') {
  border-radius: $craft--radius;
  padding: s(1.5);
  transition: background-color $hover-ease;
  width: 100%;

  &:hover {
    background-color: $craft--hover;
  }

  @include media ('<=desktop-small') {
    background-color: $craft--hover;
  }

  @include media ('<=tablet-small') {
    background-color: $body--background;
    border-radius: 0;
    border-top: $input--border;

    &:hover {
      background-color: $body--background;
    }
  }

  @include media ('<=mobile-large') {
    width: 100%;
  }

  @include modifier ('about') {
    background-color: $craft--hover;

    @include media ('<=tablet-small') {
      background-color: $body--background;
      margin-left: s(-2);
      margin-right: s(-2);
      width: auto;
    }

    @include media ('<=mobile-large') {
      margin-left: s(-1);
      margin-right: s(-1);
      width: auto;
    }
  }

  @include element ('title') {
    @extend %title;
  }

  @include element ('row') {
    display: flex;
    margin-left: s(-0.75);
    margin-right: s(-0.75);

    @include media ('<tablet-small') {
      flex-direction: column;
    }
  }

  @include element ('row-column') {
    padding: s(1) s(0.75);
    width: 50%;

    @include media ('<tablet-small') {
      width: 100%;

      & + .crafts-call__row-column {
        padding-top: 0;
      }
    }
  }

  @include element ('text') {
    @extend %text;
    flex-grow: 1;
    margin-right: s(2);
  }

  @include element ('button') {
    width: 50%;
  }

  @include element ('footer') {
    align-items: center;
    display: flex;
    margin: s(1) 0 0;
  }
}
