@include block ('crafts') {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  margin-left: s(-1.5);
  margin-right: s(-1.5);

  @include element ('item') {
    padding: s(1.5);
    width: 50%;
  }
}
