@mixin interact {
  background-color: $craft--hover;

  @include block ('piece') {
    @include element ('furniture') {
      color: $text-color--hover;
    }

    @include element ('icon') {
      color: $text-color--hover;
      @include modifier ('sold-out') {
        color: $piece--availability--sold-out;
      }
    }

    @include element ('availability') {
      color: $text-color--hover;
      @include modifier ('sold-out') {
        color: $piece--availability--sold-out;
      }
    }

    @include element ('details') {
      border-top-color: $craft--hover;
    }
  }
}

@include block ('crafts') {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  margin-left: s(-1.5);
  margin-right: s(-1.5);
  padding-bottom: s(1.5);
  padding-top: s(1.5);

  @include media ('<tablet-large') {
    padding-top: s(3);
  }

  @include media ('<=tablet-small') {
    margin: 0;
    padding-bottom: 0;
    width: 100%;
  }

  @include media ('<=mobile-large') {
    margin: 0;
    padding-bottom: 0;
    padding-top: s(3);
  }

  @include element ('call') {
    display: flex;
    margin-top: s(1.5);
    width: 100%;

    @include media ('<tablet-large') {
      margin-top: 0;
      padding: s(1.5);
    }

    @include media ('<=tablet-small') {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  @include element ('item') {
    align-items: flex-start;
    border-radius: $craft--radius;
    color: inherit;
    cursor: pointer;
    display: flex;
    padding: s(1.5);
    text-decoration: none;
    transition: background-color $hover-ease;
    width: 33.3333%;

    @include media ('<=desktop-small') {
      width: 50%;
    }

    @include modifier ('policy') {
      cursor: auto;
      width: 100% !important;

      &:hover {
        background-color: transparent !important;
      }
    }

    @include media ('<=tablet-large') {
      &:active {
        @include interact;
      }
    }

    @include media ('<=mobile-large') {
      width: 100%;
    }

    @include media ('>tablet-large') {
      &:hover {
        @include interact;
      }
    }
  }
}
