@mixin interact {
  background-color: $craft--hover;

  @include block ('piece') {
    @include element ('furniture') {
      color: $text-color--hover;
    }

    @include element ('icon') {
      color: $text-color--hover;
      @include modifier ('sold-out') {
        color: $piece--availability--sold-out;
      }
    }

    @include element ('availability') {
      color: $text-color--hover;
      @include modifier ('sold-out') {
        color: $piece--availability--sold-out;
      }
    }

    @include element ('details') {
      border-top-color: $craft--hover;
    }
  }
}

@include block ('crafts') {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  margin-left: s(-1.5);
  margin-right: s(-1.5);
  padding-bottom: s(1.5);
  padding-top: s(1.5);

  @include media ('<=mobile-large') {
    margin: 0;
    padding-top: s(3);
  }

  @include element ('call') {
    align-items: center;
    display: flex;
    padding: s(1.5);
    width: 33.3333%;

    @include media ('<=desktop-small') {
      width: 50%;
    }

    @include media ('<=mobile-large') {
      width: 100%;
    }

    // @include media ('<=tablet-large') {
    //   &:active {
    //     @include interact;
    //   }
    // }
    //
    // @include media ('>tablet-large') {
    //   &:hover {
    //     @include interact;
    //   }
    // }
  }

  @include element ('item') {
    align-items: stretch;
    border-radius: $craft--radius;
    color: inherit;
    cursor: pointer;
    display: flex;
    padding: s(1.5);
    text-decoration: none;
    transition: background-color $hover-ease;
    width: 33.3333%;

    @include media ('<=desktop-small') {
      width: 50%;
    }

    @include media ('<=tablet-large') {
      &:active {
        @include interact;
      }
    }

    @include media ('<=mobile-large') {
      width: 100%;
    }

    @include media ('>tablet-large') {
      &:hover {
        @include interact;
      }
    }
  }
}
