@include block ('footer-mobile') {
  align-items: center;
  background-color: background('foreground');
  bottom: 0;
  box-shadow: $header--shadow;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;

  @include media ('<tablet-large') {
    display: flex;
  }
}
