@include block ('footer') {

  margin-top: s(1);

  @include element ('link') {
    color: inherit;
    display: inline-block;
    line-height: 0;
    text-decoration: none;

    @include modifier ('next') {
      &:hover {
        @include element ('logo') {
          transform: rotate(30deg) translate(-2px, 0);
        }
      }
    }

    @include modifier ('prev') {
      &:hover {
        @include element ('logo') {
          transform: rotate(-30deg) translate(2px, 0);
        }
      }
    }
  }

  @include element ('logo') {
    height: 50px;
    transition: transform 0.5s ease('out-expo');
    width: 57px;
  }
}
