@include block ('header') {
  @include element ('title') {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  @include element ('phrase') {
    color: $header__phrase--color;
    font-size: 12px;
    font-weight: 200;
  }
}
