@include block ('input') {

  $input--unfocus: $color-star-dust;
  $input--focus: $color-chicago;
  $input--focus-background: mix($color-white, $color-mercury);
  $input--element--error-background: mix($color-cinnabar, $color-mercury, 25%);
  $input--error--color: $color-mercury;
  $input--error--background: $color-cinnabar;

  display: block;
  position: relative;

  & + & {
    margin-top: s(1);
  }

  @include modifier ('textarea') {
    @include element ('element') {
      height: 172px;
      resize: none;

      @include media ('<=tablet-small') {
        height: 130px;
      }
    }

    @include element ('icon') {
      top: s(0.5);
    }
  }

  @include element ('element') {
    background-color: transparent;
    border: 0;
    border-bottom: $input--border;
    border-top: 2px solid transparent;
    font-family: $font-family-sans;
    padding: s(0.5) s(1.75) s(0.5) 0;
    transition: border-bottom tween('activate'), background-color tween('activate'), padding tween('activate');
    width: 100%;

    &:focus {
      background-color: $input--focus-background;
      border-bottom-color: $input--focus-background;
      outline: 0;
      padding: s(0.5) s(1.75) s(0.5) s(0.5);

      &::placeholder {
        color: $input--unfocus;
      }

      & + .input__icon {
        color: $input--focus;
        right: s(0.5);
      }
    }

    @include modifier ('error') {
      background-color: $input--element--error-background;
      border-bottom-color: transparent;
      padding: s(0.5) s(1.75) s(0.5) s(0.5);

      &:focus {
        background-color: mix($input--focus-background, $input--element--error-background);
        border-bottom-color: transparent;
      }

      &::placeholder {
        color: mix($input--error--background, $input--element--error-background);
      }

      & + .input__icon {
        color: $input--error--background;
        right: s(0.5);

        & + .input__error {
          max-height: 50px;
          padding: s(0.5);
        }
      }
    }

    @include modifier ('valid') {
      & + .input__icon {
        color: $input--focus;
      }
    }

    @include modifier ('call') {
      @include media ('<=tablet-small') {
        &:focus {
          background-color: $craft--hover;
          border-bottom-color: $input--focus;
        }
      }
    }
  }

  @include element ('error') {
    @extend %text;
    background-color: $input--error--background;
    color: $input--error--color;
    max-height: 0;
    overflow: hidden;
    padding: 0 s(0.5);
    transition: padding tween('activate'), max-height tween('activate');
  }

  @include element ('icon') {
    color: $input--unfocus;
    position: absolute;
    right: 0;
    top: 10px;
    transition: color tween('activate'), right tween('activate');
  }
}
