@include block ('main') {
  margin-left: $aside--width;
  padding: 0 s(3);

  @include media ('<=desktop-small') {
    margin-left: $aside--min-width;
  }

  @include media ('<tablet-large') {
    margin-left: 0;
    padding: 0 s(1.5);
  }

  @include media ('<=mobile-large') {
    padding: 0;
  }
}
