@include block ('main') {
  margin-left: $aside--width;
  padding: 0 s(3);

  @include media ('<=desktop-small') {
    margin-left: $aside--min-width;
  }

  @include media ('<tablet-large') {
    margin-left: 0;
    padding: 0 s(1.5);
  }

  @include media ('<=tablet-small') {
    padding: 0;
  }

  @include modifier ('about') {
    margin-left: 0;
    min-height: 100vh;
    padding: 0;
  }

  @include modifier ('padding-top') {
    @include media ('<=tablet-large') {
      padding-top: s(2);
    }
  }

  @include element ('picture') {
    background-image: theme('vittorio-vittori.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    @include media ('<tablet-large') {
      position: relative;
    }
  }

  @include element ('contents') {
    margin-left: $aside--width;
    min-height: 100vh;
    padding: s(2);

    @include media ('<=desktop-small') {
      margin-left: $aside--min-width;
    }

    @include media ('<tablet-large') {
      margin-left: 0;
    }

    @include media ('<=tablet-small') {
      padding-bottom: 0;
    }

    @include media ('<=mobile-large') {
      padding: s(1) s(1) 0;
    }
  }
}
