@include block ('markdown') {
  margin-bottom: s(1);
  margin-top: s(1);

  @include media ('<=mobile-large') {
    border-top: $markdown--border-top;
    padding-top: s(1);
  }

  p {
    color: $article--text--color;
    font-size: 18px;
    font-weight: 300;

    & + p {
      margin-top: s(1);
    }
  }

  img {
    border-radius: $markdown--image--radius;
    height: auto;
    width: 100%;

    // &.b-loaded {
    //   border-radius: 0;
    // }
  }
}
