@include block ('markdown') {

  margin-bottom: s(1);
  margin-top: s(1);

  @include media ('<=mobile-large') {
    border-top: $markdown--border-top;
    padding-top: s(1);
  }

  @include modifier ('no-border') {
    @include media ('<=mobile-large') {
      border-top: 0;
      padding-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $title-color;
    margin-bottom: s(0.5);
    margin-top: s(2);

    &:first-child {
      margin-top: 0;
    }
  }

  h1 { font-size: 36px; }
  h2 { font-size: 32px; }
  h3 { font-size: 28px; }
  h4 { font-size: 24px; }
  h5 { font-size: 18px; }
  h6 { font-size: 16px; }

  ul {
    color: $article--text--color;
    font-size: 18px;
    font-weight: 300;
  }

  p {
    color: $article--text--color;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.45;

    & + p {
      margin-top: s(1);
    }

    .zoom-image {
      display: block;
      width: 100%;

      &::after {
        display: none;
      }
    }

  }

  img {
    @extend %image;
    border-radius: $markdown--image--radius;
    height: auto;
    width: 100%;
  }

  hr {
    border: 0;
    border-top: $markdown--border-top;
    margin: s(2) 0;
  }

  a {
    @extend %underline;
    color: inherit;
    text-decoration: none;

    &:hover {
      @extend %underline-visible;
      color: $color-chicago;
    }
  }

  @include media ('<tablet-small') {
    h1 { font-size: 32px; }
    h2 { font-size: 28px; }
    h3 { font-size: 24px; }
    h4 { font-size: 20px; }
    h5 { font-size: 18px; }
    h6 { font-size: 16px; }
    p { font-size: 16px; }
  }
}
