@include block ('markdown') {
  margin-bottom: s(1);
  margin-top: s(1);

  @include media ('<=mobile-large') {
    border-top: $markdown--border-top;
    padding-top: s(1);
  }

  @include modifier ('no-border') {
    @include media ('<=mobile-large') {
      border-top: 0;
      padding-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $title-color;
    margin-bottom: s(0.5);
    margin-top: s(2);

    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    color: $article--text--color;
    font-size: 18px;
    font-weight: 300;
  }

  p {
    color: $article--text--color;
    font-size: 18px;
    font-weight: 300;

    & + p {
      margin-top: s(1);
    }
  }

  img {
    border-radius: $markdown--image--radius;
    height: auto;
    width: 100%;

    // &.b-loaded {
    //   border-radius: 0;
    // }
  }
}
