@include block ('piece') {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include element ('picture') {
    align-items: center;
    background-color: $product--background;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    mix-blend-mode: multiply;
    overflow: hidden;
  }

  @include element ('image') {
    height: auto;
    width: 100%;
  }

  @include element ('details') {
    min-height: 200px;
  }
}
