@mixin interact {

  $post--availability--sold-out: $color-mercury;

  @include block ('console') {
    @include element ('item') {
      filter: none;
      opacity: 1;
    }
  }

  @include block ('post') {
    @include element ('details') {
      color: $text-color--hover;
    }

    @include element ('icon') {
      color: $text-color--hover;
      @include modifier ('sold-out') {
        color: $post--availability--sold-out;
      }
    }

    @include element ('availability') {
      color: $text-color--hover;
      @include modifier ('sold-out') {
        color: $post--availability--sold-out;
      }
    }

    @include element ('picture') {
      // border-bottom-color: mix(background('foreground'), background('latter'), 17%);
    }

    @include element ('details') {
      $background: mix(background('foreground'), background('latter'), 67%);
      background-color: $background;
      transform: translate(0, s(0.5));

      &::after {
        background-color: $background;
        transform: translate(0, s(0.5));
      }

      &::before {
        background-color: $background;
      }
    }
  }
}

@include block ('posts') {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  margin-left: s(-1.5);
  margin-right: s(-1.5);
  padding-bottom: s(1.5);
  padding-top: s(1.5);

  @include media ('<tablet-large') {
    padding-top: s(3);
  }

  @include media ('<=tablet-small') {
    margin: 0;
    padding-bottom: 0;
    width: 100%;
  }

  @include media ('<=mobile-large') {
    margin: 0;
    padding-bottom: 0;
    padding-top: s(3);
  }

  @include element ('call') {
    display: flex;
    margin-top: s(1.5);
    width: 100%;

    @include media ('<tablet-large') {
      margin-top: 0;
      padding: s(1.5);
    }

    @include media ('<=tablet-small') {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  @include element ('item') {
    align-items: flex-start;
    border-radius: radius('small');
    color: inherit;
    cursor: pointer;
    display: flex;
    padding: s(1.5);
    text-decoration: none;
    transition: background-color tween('hover');
    width: 33.3333%;

    @include media ('<=desktop-small') {
      width: 50%;
    }

    @include modifier ('policy') {
      cursor: auto;
      width: 100% !important;

      &:hover {
        background-color: transparent !important;
      }
    }

    @include media ('<=tablet-large') {
      &:active {
        @include interact;
      }
    }

    @include media ('<=mobile-large') {
      width: 100%;
    }

    @include media ('>tablet-large') {
      &:hover {
        @include interact;
      }
    }
  }
}
