@include block ('post') {

  $post-dedails-border-top: $border;
  $post-picture-background: $color-white;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include element ('picture') {
    align-items: flex-end;
    background-color: $post-picture-background;
    border-bottom: $post-dedails-border-top;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    transition: border-color tween('hover');
    z-index: 1;
  }

  @include element ('image') {
    height: auto;
    width: 100%;
  }

  @include element ('console') {
    margin-top: s(0.25);
  }

  @include element ('title') {
    @extend %title;
    display: inline-block;
  }

  @include element ('text') {
    @extend %text;
    display: block;
    transition: color tween('hover');
  }

  @include element ('details') {
    padding: s(1);
    position: relative;
    transition: background-color tween('hover'), transform tween('hover');
    z-index: 0;

    &::after {
      background-color: background('latter');
      border-radius: 0 0 radius('large') radius('large');
      bottom: 0;
      content: '';
      display: inline-block;
      height: s(0.5);
      left: 0;
      line-height: 0;
      position: absolute;
      transition: transform tween('hover'), background-color tween('hover');
      width: 100%;

      @include media ('<tablet-large') {
        display: none;
      }
    }

    &::before {
      background-color: background('latter');
      content: '';
      display: inline-block;
      height: s(1);
      left: 0;
      line-height: 0;
      position: absolute;
      top: s(-1);
      transition: background-color tween('hover');
      width: 100%;

      @include media ('<tablet-large') {
        display: none;
      }
    }
  }

  @include element ('icon') {
    margin-right: s(0.25);
    transition: color tween('hover');
  }

  @include element ('infos') {
    align-items: center;
    display: flex;
  }
}
