@include block ('preview') {

  flex-grow: 1;
  margin-top: s(1);

  @include element ('picture') {
    display: block;
    height: auto;
    line-height: 0;
    margin: auto;
    max-width: 150px;
    width: 100%;

    @include modifier ('wide') {
      max-width: initial;
    }
  }

  @include element ('hr') {
    border: 0;
    border-top: $post--dedails--border-top;
    margin: s(1) 0;
  }

  @include element ('title') {
    @extend %title;
    font-size: 18px;
    white-space: normal;
  }

  @include element ('furniture') {
    margin-top: 4px;
  }

  @include element ('actions') {
    margin-top: s(1);
  }

  @include element ('social') {
    overflow: visible;
    padding-top: s(1);
  }
}
