@include block ('publish-status') {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: opacity-blink;
  background-color: $color-star-dust;
  border-radius: radius('small');
  color: $color-white;
  font-size: 8px;
  line-height: 1;
  padding: s(0.125) s(0.25);
  position: absolute;
  right: s(1);
  text-transform: uppercase;
  top: s(1);

  @include modifier ('article') {
    animation-name: pulse;
    background-color: $color-chicago;
    font-size: inherit;
    position: static;
  }
}
