@include block ('review-badge') {

  align-items: center;
  background-color: $text-color;
  border-radius: radius('small');
  color: $color-chicago;
  display: flex;
  font-size: 14px;
  padding: 1px s(0.25) 1px s(0.125);

  @include modifier ('positive') {
    background-color: $color-feijoa;
  }

  @include modifier ('average') {
    background-color: $color-ripe-lemon;
  }

  @include modifier ('negative') {
    background-color: $color-coral;
  }

  @include element ('icon') {
    font-size: 20px;
    margin-right: s(0.125);
  }
}
