@include block ('send-status') {

  $color-info: $color-picton-blue;
  $color-error: $color-cinnabar;

  text-align: center;

  @include element ('icon') {
    display: inline-block;

    @include modifier ('info') {
      color: $color-info;
    }

    @include modifier ('error') {
      color: $color-error;
    }
  }

  @include element ('title') {
    @extend %title;
  }

  @include element ('text') {
    @extend %text;
  }
}
