<section class="preview">
  <img class="preview__picture" src="preview.jpg">
  <hr class="preview__hr">
  <h2 class="preview__title">
    {{ title }}
  </h2>
  <div class="preview__furniture">
    {{ furniture }}
  </div>
  <div class="preview__actions">
    {% include 'actions.twig' %}
  </div>
  <div class="preview__social">
    <div class="addthis_inline_share_toolbox"></div>
  </div>
</section>
