<article class="post">
  <div class="post__picture">
    {% if item.draft is defined %}
      <div class="publish-status">
        Draft
      </div>
    {% endif %}
    <img class="post__image b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ item.path }}/preview.jpg" alt="">
  </div>
  <div class="post__details">
    <h2 class="post__title">
      {{ item.title }}
    </h2>
    <div class="post__infos">
      <i class="post__icon material-icons">weekend</i>
      <div class="post__description">
        <h4 class="post__text">
          {{ item.furniture }}
        </h4>
      </div>
    </div>
  </div>
</article>
