$title-color: $color-chicago;
$text-color--hover: $color-chicago;
$text-color: $color-gray;

$article--text--color: mix($color-chicago, $color-gray);

$actions--available--background: rgba($color-chicago, 0.1);
$actions--background: $color-chicago;
$actions--radius: 8px;

$aside--background: $color-white;
$aside--background--opaque: rgba($color-white, 0.85);
$aside--background--opaque-strenght: rgba($color-white, 0.95);
$aside--background--blur: blur(4px);
$aside--min-width: 330px;
$aside--shadow: $solid-shadow;
$aside--width: 26%;

$body--background: $color-desert-storm;
$body--text-color: $color-chicago;

$button--available--background--hover: $color-chicago;
$button--available--background: $color-chicago;
$button--available--color--hover: $color-white;
$button--available--color: $color-mercury;
$button--back--background--hover: rgba($color-chicago, 0.2);
$button--back--background: rgba($color-chicago, 0.1);
$button--back--color--hover: $color-chicago;
$button--back--color: $text-color;
$button--comment--color: $color-star-dust;
$button--price--color: $color-star-dust;
$button--radius: 4px;
$button--sold-out--background--hover: $color-white;
$button--sold-out--background: $color-mercury;
$button--sold-out--color--hover: $color-chicago;
$button--sold-out--color: $text-color;
$button--try-budget--background--hover: $color-chicago;
$button--try-budget--background: $color-chicago;
$button--try-budget--color--hover: $color-white;
$button--try-budget--color: $color-mercury;
$button--try-budget-available--background--hover: transparent;
$button--try-budget-available--background: transparent;
$button--try-budget-available--color--hover: $color-chicago;
$button--try-budget-available--color: $text-color;

$craft--hover: $color-white;
$craft--radius: 4px;

$header--background: $color-white;
$header--phrase--color: $text-color;
$header--shadow: $solid-shadow;

$markdown--border-top: 2px solid $color-mercury;
$markdown--image--radius: 8px;

$modal--background: mix($color-white, $color-mercury);
$modal--body--background: $color-white;
$modal--background--opaque: rgba($modal--background, 0.85);
$modal--background--opaque-strenght: rgba($modal--background, 0.95);
$modal--background--blur: blur(4px);
$modal--shadow: $solid-shadow;

$input--border: 2px solid $color-mercury;
$input--unfocus: $color-star-dust;
$input--focus: $color-chicago;
$input--focus-background: mix($color-white, $color-mercury);
$input--element--error-background: mix($color-error, $color-mercury, 25%);
$input--error--color: $color-mercury;
$input--error--background: $color-error;

$noui--handle--background: $color-chicago;
$noui--target--background: $color-mercury;
$noui--handle--height: 32px;
$noui--handle--width: 72px;
$noui--handle--top: -12px;
$noui--handle--color: $color-mercury;
$noui--target--height: 8px;

$budget-info--text--background: $color-mercury;

$piece--availability--sold-out: $color-mercury;
$piece--dedails--border-top: 2px solid $color-mercury;

$selection--background: $color-mercury;
