<div class="actions {% if onFooter %} actions--footer {% endif %} actions--available">
  {% if metadata.social.messenger %}
    <a class="actions__item actions__item--short button button--chat-available" href="{{ metadata.social.messenger }}" target="_blank">
      <i class="button__icon material-icons">chat</i>
      <span class="button__infos">
        <div class="button__text">
          Scrivimi via chat
        </div>
      </span>
    </a>
  {% endif %}
</div>
