<section class="preview">
  <img class="preview__picture preview__picture--wide" src="box.jpg">
  <hr class="preview__hr">
  <h2 class="preview__title">
    {{ title }}
  </h2>
  <div class="preview__description">
    {% include 'console.twig' with { 'console': { 'manufacturer': manufacturer, 'platform': platform }, 'hasHover': true } %}
  </div>
  <div class="preview__social">
    <div class="addthis_inline_share_toolbox"></div>
  </div>
</section>
