<article class="post">
  <div class="post__picture">
    {% if item.draft is defined %}
      <div class="publish-status">
        Draft
      </div>
    {% endif %}
    <img class="post__image b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ item.path }}/box.jpg" alt="">
  </div>
  <div class="post__details">
    <h2 class="post__title">
      {{ item.title }}
    </h2>
    <div class="post__infos">
      {% include 'console.twig' with { 'console': item, 'isPost': true } %}
    </div>
  </div>
</article>
