<ul class="list">
  {% set hasCons = false %}

  {% if cons is defined %}
    {% set hasCons = true %}
    {% for item in cons %}
      <li class="list__item">
        <i class="material-icons list__icon list__icon--cons">clear</i>
        <div class="list__text">
          {{ item }}
        </div>
      </li>
    {% endfor %}
  {% endif %}

  {% for item in review %}
      {% if item.vote < 70 %}
        {% set hasCons = true %}
        <li class="list__item">
          {% if item.vote > 50 %}
            <i class="material-icons list__icon list__icon--cons">clear</i>
          {% else %}
            <i class="material-icons list__icon list__icon--cons">warning</i>
          {% endif %}
          <div class="list__text">
            {{ item.name }}
          </div>
        </li>
      {% endif %}
  {% endfor %}

  {% if not hasCons %}
    <li class="list__item">
      <i class="material-icons list__icon list__icon--cons">favorite</i>
      <div class="list__text">
        Non ha difetti particolari
      </div>
    </li>
  {% endif %}
</ul>
